.imgtwo-showing{
    display: none;
    height: 500px;
    width: 500px;
}

.clickable {
    cursor: pointer;
    color: #0088cc;
  }

  .clickable:hover {
    text-decoration: underline;
  }
  #three{
      display: none;
  }
 